.full-width-button {
  width: 100%;
}

.blue-button {
    background-color: #004369;
    color: #fff;
    border: 1px solid #000;
}

.editButton {
    border-radius: 3px;
    width: 75px;
    padding: 0.5rem;
    cursor: pointer;
}

.smallDeleteButton {
    border-radius: 3px;
    padding: 0.5rem;
    font-size: 13.3333px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background-color: rgb(220,49,52);
    border: 1px solid #004369;
    margin-top: 0.5rem;
}

.smallDeleteButton a {
    color: #fff;
    text-decoration: none;
}

.saveButton {
    border-radius: 3px;
    width: 75px;
    padding: 0.5rem;
    cursor: pointer;
    line-height: 1.4;
}

.createButton,
.deleteButton {
    border: 1px solid #cccccc;
    text-decoration: none;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    font-size: 1.4rem;
    padding: 0.4rem 1rem;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 1.4rem;
    width: 50%;
    cursor: pointer;
}

.red-button {
    color: #fff;
    background-color: rgb(220,49,52);
    border: 2px solid #004369;
}

.green-button {
    color: #fff;
    background-color: rgb(127,186,0);
}

.backButton {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
}

.backButton a {
    padding: 0.5em;
    text-decoration: none;
    background-color: #004369;
    color: #fff;
    margin-bottom: 0;
}

.headerButton {
    margin-top: 1rem;
}


@media only screen and (max-width: 1000px) {
    .editButton,
    .saveButton {
        width: 100%;
        height: 3em;
    }
}

@media only screen and (max-width: 700px) {
    .deleteButton {
        width: 95%;
        height: 3rem;
    }
}