.confirmationBox {
    box-shadow: 0px 1px 7px 2px #aaa;
    padding-bottom: 5em;
    border: 2px solid #004369;
}

.confirmationBox h2 {
    padding-top: 5rem;
    text-align: center;
}

.noHeader {
    padding-top: 5rem;
}