.NavBar {
    /* background-color: #2685c4; */
    background-color: #004369;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

.NavBar ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    margin: 0.5rem;
}

.NavBar li {
    display: block;
    margin-right: 1em;
    text-decoration: none;
}

.NavBar a {
    text-decoration: none;
    /* color: #9DDDFF; */
    color: #fff;
    /* font-size: 1.4rem; */
    margin-bottom: 0;
}

.logo {
    width: 60px;
    margin: 0.5em;
}

.navBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navBtn p {
    font-size: 0.6rem;
    margin: 0;
    padding-top: 0.3em;
}

.add svg {
    color: #fff;
}

.App-logo {
  /* width: 40px; */
  margin: 0.5em;
  pointer-events: none;
}

.logoText {
    display: flex;
    flex-direction: row;
    margin-top: 0.2rem;
}

.logoText p {
    font-size: 1.3rem;
    margin: 0.5rem;
}

@media screen and (max-width: 700px) {
    .NavBar a {
        font-size: 1rem;
    }
    .navBtn p {
        /* display: none; */
        font-size: 0.6rem;
    }

    /* .NavBar {
        top: initial;
        bottom: 0;
        z-index: 1;
    } */

    .logoText p {
        display: none;
    }
}