.navContainer {
    /* background-color: #2685c4; */
    background-color: #004369;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 55px;
    justify-content: center;
}

.NavBar {
    background-color: #004369;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 70%;
}

.NavBar ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    margin: 0.5rem;
}

.NavBar li {
    display: block;
    margin-right: 1em;
    text-decoration: none;
}

.NavBar a {
    text-decoration: none;
    color: #fff;
    margin-bottom: 0;
}

.logo {
    width: 60px;
    margin: 0.5em;
}

.navBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navBtn p {
    font-size: 0.6rem;
    margin: 0;
    padding-top: 0.3em;
    color: #fff;
}

.userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userInfo p {
    font-size: 0.6rem;
    margin: 0;
    padding-top: 0.3em;
    color: #fff;
}

.add svg {
    color: #fff;
}

.App-logo {
  margin: 0.5em;
  pointer-events: none;
}

.logoText {
    display: flex;
    flex-direction: row;
    margin-top: 0.2rem;
}

.logoText p {
    font-size: 1.3rem;
    margin: 0.5rem;
}

.connectionNavBar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.connectionNavBar a {
    padding: 0.5em;
    text-decoration: none;
    margin-bottom: 0;
}

@media screen and (max-width: 700px) {
    .NavBar a {
        font-size: 1rem;
    }
    .navBtn p {
        font-size: 0.6rem;
    }

    .NavBar {
        width: 100%;
    }

    .logoText p {
        display: none;
    }

    .connectionNavBar {
        justify-content: initial;
        flex-direction: column;
    }

    .connectionNavBar a {
        margin-bottom: 0.5rem;
    }
}

@media screen and (max-width: 1400px) {
    .NavBar {
        width: 80%;
    }
}

@media screen and (max-width: 1300px) {
    .NavBar {
        width: 90%;
    }
}

@media screen and (max-width: 1100px) {
    .NavBar {
        width: 100%;
    }
}