/* .headerData {
    display: table-row;
    margin: 0 auto;
} */

.headerData {
    margin: 0.5em;
} 


.headerBlock {
    display: inline-block;
    width: 30%;
}

.headerBlock p {
    overflow-wrap: break-word;
}

.connectionNavBar {
    /* background-color: #2685c4; */
    /* background-color: ; */
    /* margin: 0.5em; */
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    /* top: 0; */
    /* width: 100%; */
}

.connectionNavBar a {
    /* border: 1px solid blue; */
    padding: 0.5em;
    text-decoration: none;
    background-color: #004369;
    /* color: #9DDDFF; */
    color: #fff;
    /* color: #004369; */
    /* font-size: 1.4rem; */
    margin-bottom: 0;
}