.reportContainer {
    display: block;
    box-shadow: 0 3px 5px 0 #999;
    box-sizing: border-box;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.reportContainer h4 {
    text-align: center;
}

.reportForm {
    display: block;
    margin-bottom: 1rem;
    width: 50%;
    padding: 1rem;
    margin: 0 auto;
}

.reportForm input[type=text] {
    padding: 0.5rem;
    display: block;
    border-radius: 5px;
    border: 1px solid #999;
    width: 95%;
}

.reportForm input[type=submit] {
    margin-top: 1rem;
}

@media screen and (max-width: 700px) {
    .reportForm {
        width: 90%;
    }
}

/* .reportForm label {
    width: 50%;
} */