.reportTable,
.table {
    box-sizing: border-box;
    border-collapse: collapse;
    font-size: 0.9em;
    margin-bottom: 1.4rem;
    box-shadow: 0px 1px 7px 2px #aaa;
    width: 100%;
    padding: 0.5rem;
    border: 2px solid #004369;
}

.reportTable th,
.table th {
    text-align: left;
    color: #fff;
}

.tableContainer textarea {
    display: block;
    width: 150px;
    height: 20px;
}

.tableContainer input[type=text],
.tableContainer .rowNumber {
    display: block;
    width: 100%;
    height: 20px;
}

.reportTable th,
.reportTable td,
.table th,
.table td {
    padding: 0.2rem 0.3rem;
    border-bottom: 2px solid #004369;
}

.reportTable thead,
.table thead {
    background-color: rgb(45, 45, 160);
}

.comment p {
    inline-size: 150px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin: 0;
}

.upper {
    text-transform: uppercase;
}

.commentInput {
    resize: vertical;
}

.commentInput:focus {
    height: 5rem;
    resize: vertical;
}

.table.right {
    text-align: right;
}

td.right {
    text-align: right;
}

.arrow {
    white-space: nowrap;
}

.table-scroll {
    width: 100%;
    display: block;
    overflow-x: auto;
}

.editButton {
    background-color: blue;
    color: #fff;
    border: 1px solid black;
    border-radius: 3px;
    width: 75px;
    padding: 0.5rem;
    cursor: pointer;
}

.saveButton {
    background-color: blue;
    color: #fff;
    border: 1px solid black;
    border-radius: 3px;
    width: 75px;
    padding: 0.5rem;
    cursor: pointer;
}

.full-width-table {
    width: 100%;
    margin-bottom: 5.5rem;
}

@media only screen and (max-width: 700px) {
    .table-scroll {
        display: block
    }
}

@media only screen and (max-width: 1000px) {
    .table-stacked {
        display: block;
    }

    .table-stacked tr {
        display: block;
    }

    /* // We do not use display: none; for accessibility reasons */
    .table-stacked thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    /* // För att inte tabellen ska kollapsa */
    .table-stacked tbody {
        display: block;
    }

    .table-stacked td {
        display: block;
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align:right;
        min-height: 1.5rem;
    }

    .comment p {
        inline-size: initial;
    }

    .table input {
        height: 2rem;
        margin-top: 0.2rem;
    }

    .table textarea {
        height: 4rem;
        width: 70%;
        margin-top: 0.2rem;
    }

    tr:nth-of-type(2n) {
        background-color: #ddd;
    }

    .table td:nth-of-type(1):before { content: "Rad"; }
    .table td:nth-of-type(2):before { content: "Namn"; }
    .table td:nth-of-type(3):before { content: "Ställ"; }
    .table td:nth-of-type(4):before { content: "Från fält"; }
    .table td:nth-of-type(5):before { content: "Från Nr"; }
    .table td:nth-of-type(6):before { content: "Från uttag"; }
    .table td:nth-of-type(7):before { content: ""; }
    .table td:nth-of-type(8):before { content: "Till fält"; }
    .table td:nth-of-type(9):before { content: "Till Nr"; }
    .table td:nth-of-type(10):before { content: "Till uttag"; }
    .table td:nth-of-type(11):before { content: "Kommentar"; }

    .table td:before {
        /* För att visa tabell rubrik */
        /* content: attr(data-title); */
        /* Använder top och left för efterlikna padding */
        position: absolute;
        left: 1rem;
        width: 45%;
        padding-right: 0.55rem;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    .reportTable td:nth-of-type(1):before { content: "Ställ"; }
    .reportTable td:nth-of-type(2):before { content: "Fält"; }
    .reportTable td:nth-of-type(3):before { content: "Nr"; }
    .reportTable td:nth-of-type(4):before { content: "Uttag"; }
    .reportTable td:nth-of-type(5):before { content: "Förbindelse"; }
    .reportTable td:nth-of-type(6):before { content: "Namn"; }
    .reportTable td:nth-of-type(7):before { content: "Adress"; }
    .reportTable td:nth-of-type(8):before { content: "Kommentar"; }

    .reportTable td:before {
        /* För att visa tabell rubrik */
        /* content: attr(data-title); */
        /* Använder top och left för efterlikna padding */
        position: absolute;
        left: 1rem;
        width: 45%;
        padding-right: 0.55rem;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }
}
