.table {
    box-sizing: border-box;
    border-collapse: collapse;
    margin-bottom: 1.4rem;
    box-shadow: 0px 1px 7px 2px #aaa;
    /* border-radius: 0.5rem; */
    padding: 1rem;
}

.table input[type=number],
.table input[type=text] {
    /* width: 100%; */
    /* height: 100%; */
    border: 1px solid black;
    padding: 0.2rem 0.2rem;
}

.commentInput {
    height: 1rem;
    padding: 0.3rem 0.6rem;
    resize: vertical;
    border: 1px solid black;
}

.commentInput:focus {
    height: 5rem;
    /* padding: 0.3rem 0.6rem; */
    resize: vertical;
}

.table th {
    text-align: left;
}

/* .table td {
    border-top: 1px solid #ccc;
} */

.table th,
.table td {
    padding: 0.2rem 0.2rem;
}

.comment p {
    inline-size: 150px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.table.right {
    text-align: right;
}

.arrow {
    white-space: nowrap;
}

.table-scroll {
    /* width: 100%; */
    display: block;
    /* padding: 0.5rem; */
    overflow-x: auto;
}

.full-width-table {
    width: 100%;
    margin-bottom: 5.5rem;
}

@media only screen and (max-width: 1400px) {
    .table-scroll {
        display: block
    }
}

@media only screen and (max-width: 1000px) {
    .table-stacked {
        display: block;
    }

    .table-stacked tr {
        display: block;
    }

    /* // We do not use display: none; for accessibility reasons */
    .table-stacked thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    /* // För att inte tabellen ska kollapsa */
    .table-stacked tbody {
        display: block;
    }

    .table-stacked td {
        display: block;
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align:right;
        min-height: 1.5rem;
    }

    .comment p {
        inline-size: initial;
    }

    .table input {
        height: 2rem;
        margin-top: 0.2rem;
    }

    .table textarea {
        height: 4rem;
        width: 70%;
        margin-top: 0.2rem;
    }

    tr:nth-of-type(2n) {
        background-color: #ddd;
    }

    td:nth-of-type(1):before { content: "Rad"; }
    td:nth-of-type(2):before { content: "Namn"; }
    td:nth-of-type(3):before { content: "Ställ"; }
    td:nth-of-type(4):before { content: "Från fält"; }
    td:nth-of-type(5):before { content: "Från position"; }
    td:nth-of-type(6):before { content: "Från uttag"; }
    td:nth-of-type(7):before { content: ""; }
    td:nth-of-type(8):before { content: "Till fält"; }
    td:nth-of-type(9):before { content: "Till position"; }
    td:nth-of-type(10):before { content: "Till uttag"; }
    td:nth-of-type(11):before { content: "Kommentar"; }

    td:before {
        /* För att visa tabell rubrik */
        /* content: attr(data-title); */
        /* Använder top och left för efterlikna padding */
        position: absolute;
        /* top: 1rem; */
        left: 1rem;
        width: 45%;
        padding-right: 0.55rem;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
        /* // top: 0.33rem; */
    }
}
