.startPage {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.searchBox form {
    display: flex;
    flex-direction: row;
}

.searchField {
    font-size: 1.4rem;
    line-height: 1.4;
    display: block;
    border: 1px solid #ccc;
    padding: 0.6rem;
    box-sizing: border-box;
    width: 90%;
    margin: 1.4rem 0 1.4rem 0;
    resize: none;
    text-align: center;
}

.searchFieldSubmit {
    cursor: pointer;
    font-size: 1.4rem;
    line-height: 1.4;
    display: block;
    border: 1px solid #ccc;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-left: none;
    padding: 0.6rem;
    box-sizing: border-box;
    width: 10%;
    margin: 1.4rem 0 1.4rem 0;
    resize: none;
    text-align: center;
}

.clearSearch {
    cursor: pointer;
    line-height: 1.4;
    font-size: 1.4rem;
    display: block;
    border: 1px solid #ccc;
    padding: 0.6rem;
    box-sizing: border-box;
    width: 50%;
    margin: 0 auto;
    resize: none;
    text-align: center;
}

.searchSelect {
    cursor: pointer;
    line-height: 1.4;
    font-size: 1rem;
    display: block;
    border: 1px solid #ccc;
    padding: 0.6rem;
    box-sizing: border-box;
    width: 110px;
    margin: 1.4rem 0 1.4rem 0;
    resize: none;
    text-align: center;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-right: none;
}


.searchField:focus {
    box-shadow: 0 0 7px 2px #0091ea;
}

.searchField::selection {
    box-shadow: 0 0 7px 2px #0091ea;
}

.tableStartPage th,
.tableStartPage td {
    white-space: nowrap;
    padding: 0.8rem 1.6rem;
    overflow-x: auto;
}

.tableStartPage tr:nth-of-type(2n) {
    background-color: #ddd;
}

.tableStartPage {
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
    margin-bottom: 1.4rem;
    box-shadow: 0 3px 5px 0 #999;
    border-radius: 0.5rem;
}

.linkDiv {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
    box-shadow: 0px 1px 7px 2px #aaa;
    text-decoration: none;
    color: #333;
}

.linkDiv:hover {
    background-color: #004369;
    color: #fff;
}

.columnDiv {
    padding: 1em;
}

.rowDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
}

.linkLink { 
    border: 1px solid black;
    padding: 0.5em;
    text-decoration: none;
    color: #fff;
    background-color: #004369;
}

.noResult {
    text-align: center;
}

.paginateContainer ul{
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
}

.pagination {
    padding: 0;
}

.pagination li {
    display: inline-block;
    cursor: pointer;
    padding: 0.5rem;
    align-self: center;
    text-align: center;
}

.pagination a {
    display: block;
    text-decoration: none;
    color: #004369;
    font-size: 1.4rem;
    outline: 0;
    width: 2rem;
}

.next {
    border-left: 1px solid #ccc;
}

.previous {
    border-right: 1px solid #ccc;
}

.nextLink,
.previousLink {
    padding-left: 1rem;
    padding-right: 1rem;
}

.pagination .active {
    border: 2px solid #004369;
}

@media screen and (max-width: 800px) {
    .rowDiv {
        flex-direction: column;
        text-align: left;
    }

    .columnDiv {
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .columnDiv h5 {
        margin: 16px 0;
    }

    .pagination li {
        margin: 0;
        padding: 0.3rem;
    }

    .pagination a {
        font-size: 1rem;
        width: initial;
    }

    .pagination .previous {
        margin-right: 1rem;
    }

    .paginateContainer ul {
        text-align: left;
    }

    .searchField {
        width: 80%;
        font-size: 1rem;
    }

    .searchFieldSubmit {
        width: 20%;
        font-size: 1rem;
    }

    .clearSearch {
        width: 100%;
        font-size: 1rem;
    }
}