.startPage {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.searchBox form {
    display: flex;
    flex-direction: row;
}

.searchField {
    font-size: 1.4rem;
    line-height: 1.4;
    display: block;
    border: 1px solid #ccc;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    padding: 0.6rem;
    box-sizing: border-box;
    width: 90%;
    margin: 1.4rem 0 1.4rem 0;
    resize: none;
    text-align: center;
}

.searchFieldSubmit {
    font-size: 1.4rem;
    line-height: 1.4;
    display: block;
    border: 1px solid #ccc;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 0.6rem;
    box-sizing: border-box;
    width: 10%;
    margin: 1.4rem 0 1.4rem 0;
    resize: none;
    text-align: center;
}


.searchField:focus {
    box-shadow: 0 0 7px 2px #0091ea;
}

.searchField::selection {
    box-shadow: 0 0 7px 2px #0091ea;
}

.tableStartPage th,
.tableStartPage td {
    white-space: nowrap;
    padding: 0.8rem 1.6rem;
    overflow-x: auto;
}

.tableStartPage tr:nth-of-type(2n) {
    background-color: #ddd;
}

.tableStartPage {
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
    margin-bottom: 1.4rem;
    box-shadow: 0 3px 5px 0 #999;
    border-radius: 0.5rem;
}

.linkDiv {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
    box-shadow: 0px 1px 7px 2px #aaa;
    text-decoration: none;
    color: #333;
}

.linkDiv:hover {
    background-color: #004369;
    color: #fff;
}

.columnDiv {
    padding: 1em;
}

.rowDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
}

.linkLink { 
    border: 1px solid black;
    padding: 0.5em;
    text-decoration: none;
    color: #fff;
    background-color: #004369;
}

.noResult {
    text-align: center;
}

.clearSearch {
    text-align: center;
    background-color: #004369;
    color: #fff;
    border: 1px solid;
    width: 200px;
    padding: 0.5em;
    margin: 0 auto;
    cursor: pointer;
}

.paginateContainer ul{
    display: block;
    text-align: center;
}

.pagination {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    /* border: 1px solid; */
}

.pagination li {
    display: inline-block;
    cursor: pointer;
    margin: 0.5rem;
    padding: 0.5rem;
    width: 20px;
    text-align: center;
}

.pagination a {
    text-decoration: none;
    color: #004369;
}

.pagination .next,
.pagination .previous {
    border: 2px solid #004369;
    border-radius: 50%;
    /* font-size: 1.5rem; */
}

.pagination .active {
    border: 2px solid #004369;
    border-radius: 50%;
}

@media screen and (max-width: 800px) {
    .rowDiv {
        flex-direction: column;
        text-align: left;
    }

    .columnDiv {
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .columnDiv h5 {
        margin: 16px 0;
    }

    /* .searchField {
        width: 60%;
        top: 0;
        margin: 0 auto;
        border-radius: 0;
        left: 140px;
        position: fixed;
        
    }
    
    .searchFieldSubmit {
        display: none;
    } */

    .searchField {
        width: 80%;
    }
    
    .searchFieldSubmit {
        width: 20%;
    }
}