.table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.table th,
.table td {
    padding: 12px 15px;
}

.table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.table-scroll {
    display: block;
    overflow-x: auto;
}

@media only screen and (max-width: 1400px) {
    .table-scroll {
        display: block
    }
}

@media only screen and (max-width: 1000px) {
    .table-stacked {
        display: block;
    }

    .table-stacked tr {
        display: block;
    }

    /* // We do not use display: none; for accessibility reasons */
    .table-stacked thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    /* // För att inte tabellen ska kollapsa */
    .table-stacked tbody {
        display: block;
    }

    .table-stacked td {
        display: block;
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align:right;
        min-height: 1.5rem;
    }

    .comment p {
        inline-size: initial;
    }

    .table input {
        height: 2rem;
        margin-top: 0.2rem;
    }

    .table textarea {
        height: 4rem;
        width: 70%;
        margin-top: 0.2rem;
    }

    tr:nth-of-type(2n) {
        background-color: #ddd;
    }

    td:nth-of-type(1):before { content: "Rad"; }
    td:nth-of-type(2):before { content: "Namn"; }
    td:nth-of-type(3):before { content: "Ställ"; }
    td:nth-of-type(4):before { content: "Från fält"; }
    td:nth-of-type(5):before { content: "Från position"; }
    td:nth-of-type(6):before { content: "Från uttag"; }
    td:nth-of-type(7):before { content: ""; }
    td:nth-of-type(8):before { content: "Till fält"; }
    td:nth-of-type(9):before { content: "Till position"; }
    td:nth-of-type(10):before { content: "Till uttag"; }
    td:nth-of-type(11):before { content: "Kommentar"; }

    td:before {
        /* För att visa tabell rubrik */
        /* content: attr(data-title); */
        /* Använder top och left för efterlikna padding */
        position: absolute;
        /* top: 1rem; */
        left: 1rem;
        width: 45%;
        padding-right: 0.55rem;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
        /* // top: 0.33rem; */
    }
}
