.headerDataHead {
    width: 100%;
    margin-bottom: 1rem;
    box-shadow: 0px 1px 7px 2px #aaa;
    padding-bottom: 1.5rem;
    border: 2px solid #004369;
    display: flex;
    flex-wrap: wrap;
} 


.headerBlock {
    padding-left: 0.5rem;
    width: 300px;
}

.headerBlock input[type=text],
.headerBlock textarea {
    padding: 0.5rem;
}

.headerBlock textarea {
    resize: vertical;
    width: 170px;
    height: 19px;
}

.headerBlock textarea:focus {
    height: 5rem;
}

.grayedOut {
    background-color: #ddd;
}