.headerDataHead {
    width: 100%;
    margin-bottom: 1rem;
    box-shadow: 0px 1px 7px 2px #aaa;
    padding-bottom: 1.5rem;
    border: 2px solid #004369;
} 


.headerBlock {
    display: inline-block;
    padding-left: 0.5rem;
    width: 300px;
}
