html {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    color: #555;
    font-size: 100%;
    background-color: #fbfbfb;
}

.App-body {
    background-color: #ffff;
    margin: 0 auto;
    min-height: 40em;
    line-height: 1.4;
    /* padding: 1em; */
    width:70%;
}

/* .app {
  padding: 1.4rem 0.6rem;
} */

main {
    margin-top: 3.2rem;
    padding-bottom: 1.4rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}

h1,
h2,
h3,
h4 {
    margin-top: 0;
}

h1 {
    font-size: 2.4rem;
    margin-bottom: 3.36rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1.68rem;
}

h4 {
    font-size: 1.4rem;
    margin-bottom: 0;
}

h5 {
    margin-top: 16px;
    font-size: 1rem;
    margin-bottom: 0;
}

code {
    padding: 0.2em;
    border-radius: 5px;
    background-color: #eee;
}

.title {
    font-size: 2.4rem;
    margin-bottom: 2.8rem;
    border-bottom: 1px solid #ccc;
}

.headerTitle {
    display: none;
}

.pageFooter {
    /* position: absolute; */
    /* bottom: 0; */
    /* margin-top: 1em; */
    width: 100%;
  /* position: absolute; */
    display: flex;
    justify-content: center;
    background-color: #111;
    color: #fff;
    min-height: 10em;
}

.pageFooter p {
    padding-top: 1.5em;
    min-height: 8vmax;
}

@media screen and (max-width: 700px) {
    .headerTitle {
        display: block;
        font-size: 1.3rem;
        margin-left: 0.5rem;
        margin-top: 3.5rem;
        color: #004369;
        /* width: 100%; */
        /* background-color: blue; */
    }

    .App-body {
        background-color: #fbfbfb;
    }

    main {
        margin-top: 0;
    }
    
    .headerTitle p {
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 1400px) {
    .App-body {
        width: 80%;
    }
}

@media screen and (max-width: 1300px) {
    .App-body {
        width: 90%;
    }
}

@media screen and (max-width: 1100px) {
    .App-body {
        width: 100%;
        padding: 0;
        margin: 0;
    }
}




